<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Privata</title>
  </head>
  <body>
    <h1>Benvenuto <%= username %></h1>
    <p><a href="/logout">esci</a></p>
  </body>
</html>
